                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showuser' %}"> View User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'viewimage' %}"> View Images</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'image_upload' %}"> Upload Original Image </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'change_pass' %}">Change Password</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">View Result</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contactLink">Compare Image</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'showfeedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contactLink">Logout</a>
                </li>